body {
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header, footer {
    font-family: 'Mountains of Christmas', serif;
    padding: 10px 0;
    text-align: center;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

#madLibOutput {
    padding: 20px;
    text-align: center;
    font-family:'Times New Roman', Times, serif;
}

/* Add more styles based on your creativity and design preferences */